<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/header.css"/>
		<link rel="stylesheet" href="../static/styles/body.css"/>
		<link rel="stylesheet" href="../static/styles/div.css"/>
		<script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
		<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
		<script src="../static/scripts/s-login.js"></script>
	</head>
	<body>
		<header class="top">
			<div class="title">
				<p style="color: white;">Echetra for Engineers</p>
			</div>
			<div class="login">
				<p>login</p>
			</div>
			<div class="signUp">
				<p>sign up<p>
			</div>
		</header>

		<div class="f-login">
			<div class="header">
				<h1>login</h1>
			</div>
			<div class="main">
			<form method="POST" action="/login">
				<span>
					<i class="fa fa-user"></i>
					<input type="text" placeholder="Username" name="username">
				</span><br>
				<span>
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="password" name="passwd">
				</span><br>
				<button type="submit" class="btn">login</button>
			</form>
			</div>
		</div>

	</body>
</html>
