<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/header.css"/>
		<link rel="stylesheet" href="../static/styles/body.css"/>
		<link rel="stylesheet" href="../static/styles/div.css"/>
		<script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
		<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
		<script src="../static/scripts/s-login.js"></script>
	</head>
	<body>
		<header class="top">
			<div class="title">
				<p style="color: white;">Echetra for Engineers</p>
			</div>
			<div class="login">
				<p>login</p>
			</div>
			<div class="signUp">
				<p>sign up</p>
			</div>
		</header>

	</body>
</html>
