<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Echetra</title>

		<link rel="stylesheet" href="../static/styles/layout.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../static/styles/wrapper3.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../static/styles/project_cards.css?{{cache_id}}">
		<link rel="stylesheet" href="../static/styles/projects.css?{{cache_id}}">

		<script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
		<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>

		<script src="../static/scripts/home.js?{{cache_id}}"></script>
	</head>
	<body>
		<div class="wrapper">

			<div id="title">
				<p style="color: black;">Echetra for Engineers</p> 
			</div>
			<div class="main wrapper2">
				<div class="aside">
					<a href="/Echetra/{{username}}/home"><div class="bar home">
						<i class="fa-solid fa-house fa-xl" ></i>
					</div><a>
					<div class="bar project">
						<i class="fa-solid fa-bars-progress fa-xl"></i>
					</div>
					<div class="bar study">
						<i class="fa-solid fa-globe fa-xl"></i>
					</div>
					<div class="bar community">
						<i class="fa-solid fa-people-arrows fa-xl"></i>  
					</div>
					<div class="bar chess">
						<i class="fa-solid fa-chess fa-xl"></i>
					</div>
					<div class="bar profile">
						<i class="fa-solid fa-user fa-xl"></i>
					</div>
					<div class="bar settings">
						<i class="fa-solid fa-gear fa-xl"></i>
					</div>
				</div>
				<div class="main wrapper3">
					<div id="home">
						<div class="home_main">
							<div class="home_header">
								<h1>Home</h1><br>
								<a><div id="Hheader-current">
									<h2>Current Projects</h2>
								</div></a>
								<div id="Hheader-Finished">
									<h2>Finished</h2>
								</div>
								<div id="Hheader-study">
									<h2>Study Rooms</h2>
								</div>
							</div>
							<div class="home_content">
							</div>
						</div>
						<div class="home_timeline">
							<div class="home-timeline-btn">
								<button class="createbtn">
									<i class="fa-solid fa-plus fa-xl"></i>
									<h2>Create Project</h2>
								</button>
							</div>
							<div class="home-timeline-detantes">
								<div class="timeline-stats">
									<div class="stats-left-column">
										<span class="stats-title">
											<h3>STATISTICS</h3>
										</span>
										<div class="stats-months">
										</div>
										<div class="stats-projects">
										</div>
									</div>
									<div class="stats-right-column">
										<div class="stats-collaboration">
										</div>
										<div class="stats-grading">
										</div>
									</div>
								</div>
								<div class="timeline-suggestions">
									<div id="timeline-suggested-friends">
									<span><h3>SUGGESTED FRIENDS</h3></span>
									</div>
									<div id="timeline-notifications">
										<span><h3>NOTIFICATIONS</h3></span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!--div id="projects">
						<div class="projects-stats">
						</div>
						<div class="projects-current">
							<h3>My Projects</h3>
						</div>
						<div class="projects-all">
							<h3>All Projects</h3>

							<button><a id="category_web">Web Development</a></button>
								<div class=dropdown-menu-container id="web-links-container">
									<div id="weblinks">
									</div>
								</div>
							<button><a id="category_engineering">Engineering</a></button>
								<div class= dropdown-menu-container id="Engineering-links-container">
									<div id="englinks">
									</div>								
								</div>
							<button><a id="category_art">Art</a></button>
								<div class="dropdown-menu-container" id="Art-links-container">
									<div id="artlinks">
									</div>
								</div>
						</div>
					</div-->
					<!--div id="studyroom">
						<h3>studyroom</h3>
					</div>
					<div id="community">
						<h3>community</h3>
					</div>
					<div id="chess">
						<h3>chess</h3>
					</div>
					<div id="profile">
						<h3>profile</h3>
					</div>
					<div id="settings">
						<h3>settings</h3>
					</div-->
				</div>
			</div>
			<script>
				$(document).ready( function () {

					function getProjects() {

						const userId = "{{ user_id }}";
						let complete;

						$.ajax ({
							type: "GET",
							url: `http://localhost:5001/users/projects/${userId}`,
							dataType: "json",
							success: function (data) {
								$.each(data, function (i, obj) {
									 
									let response = $.get(`http://localhost:5001/projects/tasks/${obj.id}`, function (data, status) {
											let Notasks = data.length;
											let complete = 0;

											$.each(data, function (i, obj2) {
												if (obj2.complete !== "None") {
													complete += 1
												}
											})
											//Alter long Category Name
											if (Notasks === 0) {
												Notasks = 100;
											}
											if (obj.category === "webDevelopment") {
													obj.category = "web"
												}
											if (obj.category === "Engineering"){
													obj.category = "Eng"
												}

											let results = `${complete}/${Notasks}`;

											//Get end Date of project

											if (!obj.endDate) {
												const date = new Date();
												let month = date.toLocaleString('default', { month: 'short' });
												const dd = String(date.getDate()).padStart(2, '0');
												let today = `${dd} ${month}`;

												obj.endDate = today
												console.log(today)
											}

											$(".home_content").append(
												`
												<div class="project-card">
													<div class="project-image-container">
													</div>
													<div class="project-detantels">
														<div class="project-detantels-name">
															<img class="left-sparkles" src="../static/images/sparkles.png?{{cache_id}}"></img>
															<h3><i class="project-name">${obj.name}</i></h3>
															<img class="right-sparkle!" src="../static/images/sparkles.png?{{cache_id}}"></img>
														</div>
														<div class="project-detantels-main">
															<span class="project-category">
																	<img src="../static/images/guitar.png?{{cache_id}}" width="20px" height="20px"></img>
																	<i>${obj.category}</i>
															</span>
															<span class="project-completed">
																	<img src="../static/images/bowling.png?{{cache_id}}" width="20px" height="20px"></img>
																	<i>${results}</i>
															</span>
															<span class="project-endDate">
																	<img src="../static/images/clock.png?{{cache_id}}" width="20px" height="20px"></img>
																	<i>${obj.endDate}</i>
															</span>
														</div>
													</div>
												</div>
										`)});
								})}});}
				getProjects();
			});
			</script>
			<!--projects-->
			<script>
				$(document).ready(function () {
					const userId = "{{ user_id }}";
					const username = "{{ username }}"
					$.get(`http://localhost:5001/users/projects/${userId}`, function (data, status) {

						$.each(data, function (i, obj) {

							let url = `/Echetra/${username}/${obj.name}`
							if (!obj.endDate) {
								let pid = obj.id
								pid = pid.substring(0, 3);
								$(".projects-current").append(
								`	<div class="project-current-divs">
										<div class="project-current-div1">
											<span class="project-pid">${pid}</span>
											<a href="${url}"><span class="project-div-name">${obj.name}</span></a>
											<span class="project-current-div-done">done</span>
										</div>

									</div>`);
							}
						});


						$.each(data, function (i, obj) {

							let pid2 = obj.id;
							pid2 = pid2.substring(0, 3);
							
							let container = "";

							if (obj.category === "webDevelopment") {
								container = "#weblinks";
							}
							if (obj.category === "Engineering") {
								container = "#englinks"
							}
							if (obj.category === "art") {
								container = "#artlinks"
							}


							$(`${container}`).append(
								`
								<div class="container-link">
									<span class="project-pid">${pid2}</span>
								 	<a href="/Echetra/${username}/${obj.name}">${obj.name}</a>
								</div>
								`)
						});
					});

					
			function slidepCategory () {
				const webBtn = document.getElementById('category_web');
				const webContainer = document.getElementById('web-links-container');
				const webLinks = document.getElementById('weblinks');

					webBtn.addEventListener('click', () => {
						const linksHeight = webLinks.getBoundingClientRect().height;
						const containerHeight = webContainer.getBoundingClientRect().height;

						containerHeight === 0
							? webContainer.style.height = `${linksHeight}px`
							: webContainer.style.height = 0;
					});


				const engBtn = document.getElementById('category_engineering');
				const engContainer = document.getElementById('Engineering-links-container');
				const engLinks = document.getElementById('englinks');

					engBtn.addEventListener('click', () => {
						const linksHeight = engLinks.getBoundingClientRect().height;
						const containerHeight = engContainer.getBoundingClientRect().height;

						containerHeight === 0
							? engContainer.style.height = `${linksHeight}px`
							: engContainer.style.height = 0;
					});

				const artBtn = document.getElementById('category_art');
				const artContainer = document.getElementById('Art-links-container');
				const artLinks = document.getElementById('artlinks');

					artBtn.addEventListener('click', () => {
						const linksHeight = artLinks.getBoundingClientRect().height;
						const containerHeight = artContainer.getBoundingClientRect().height;

						containerHeight === 0
							? artContainer.style.height = `${linksHeight}px`
							: artContainer.style.height = 0;


					});
				}

			slidepCategory();

				});
			</script>
		</div>
	</body>
</html>