<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Echetra</title>
		
		<link rel="stylesheet" href="../../../static/styles/layout.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../../../static/styles/wrapper3.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../../../static/styles/profile.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../../../static/styles/community.css?{{cache_id}}">
		<link rel="icon" href="/static/images/elogo.png">

		<script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" integrity="sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
		<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
		<script src="../../../static/scripts/home.js?{{cache_id}}"></script>
	</head>
	<body>
		<div class="wrapper">

			<div id="title">
				<p style="color: color;padding-left: 250px;">Echetra for Engidineers</p> 
			</div>
			<div class="main wrapper2">
				<div class="aside">
					<a><div class="elogo-wrapper"><img class="elogo-wrapper" src="/static/images/elogo.png"></img></div></a>
					<hr class="hlil-line">
					<a href="/echetra/home?{{cache_id}}" id="home-link"><div class="bar home">
						<i class="fa-solid fa-house fa-xl" ></i>
					</div></a>
					<a href="/echetra/projects/?{{cache_id}}"><div class="bar project">
						<i class="fa-solid fa-bars-progress fa-xl"></i>
					</div></a>
					<!--div class="bar study">
						<i class="fa-solid fa-globe fa-xl"></i>
					</div-->
					<a href="/Echetra/{{username}}/community?{{cache_id}}"><div class="bar community">
						<i class="fa-solid fa-people-arrows fa-xl"></i>  
					</div></a>
					<a href="/echetra/chess"><div class="bar chess">
						<i class="fa-solid fa-chess fa-xl"></i>
					</div></a>
					<hr class="hlil-line">
					<div class="bar profile">
						<i class="fa-solid fa-user fa-xl"></i>
					</div>
				</div>
				<div class="main wrapper3">
					<div id="community">
						<div class="community-side-container">
							<div class="community-header">
								<h2>Echetra | Community </h2>
							</div>
							<div class="community-side-main">
								<span class="comunity-side-home"><i class="fa-solid fa-house fa-xl">
								</i><a href="/echetra/community/home?{{cache_id}}">Home</a></span>
								<span class="community-side-members"><i class="fa-solid fa-user-group fa-xl"></i><a href="/echetra/community/members?{{cache_id}}">Members</a></span>
								<span class="messages-side"><i class="fa-solid fa-square-envelope fa-2xl"></i><a href="/echetra/community/messages?{{cache_id}}">Messages</a></span>
								<span class="community-side-presentations">Presentations</span>
								<div class="community-project-categories">
								</div>
								<span class="community-names">Fellowship Community</span>
								<div id="communities-container">
								</div>
							</div>
						</div>
						<div class="community-main-container">
							{% block content %} {% endblock %}
						</div>
					</div>
				</div>
		
			</div>
		</div>
		<script type="text/javascript"></script>
	</body>
</html>