{% extends 'base.html' %}{% block content %}
<style>
	.Nyet-feature {
		margin-top: 30px;
		font-family: sans-serif;
		width: 300px;
		height: 100px;
		border: 1px solid grey;
		color: white;
		font-size: 18px;
		margin-left: 20px;
	}
</style>

<div class="Nyet-feature">
	<span style="font-size: 20px">⚠️</span>
	<span>Feature Not yet available</span><br>
	<span style="margin-left: 35px; font-size: 15px;color: lightgray;margin-top: 10px;">Our developers are still working on it </span><br><br>
	<span style="margin-left: 35px; font-size: 15px;color: lightgray;">Stay still...</span>

</div>
{% endblock %}