{% extends 'base_community2.html' %} {% block content %}
<link rel="stylesheet" href="../../../static/styles/members_mmessage2.css"/>
<div class="message-main">
		<div class="message-main-detante">
			<div class="message-main-participants">
				<div class="message-main-p-upper">
					<div class="message-sender">{{user.username[0:2].upper()}}</div>
					<div class="message-recipient">{{recipient.username[0:2].upper()}}</div>
				</div>
				<div class="message-main-p-lower">
					<h3>Start Conversation</h3>
					<span>This is the very beginning of your direct message history with {{recipient.username}}</span>
				</div>
			</div>
			{% if messages %}
				{% for m in messages %}
					<div class="the-message">
						<div class="message-sender-profile">
							<div class="message-profile-id"></div>
						</div>
						<div class="message-the-detante">
							<span class="just-message-username">{{m.sender_name}}<i>{{m.created_at}}</i></span>
							<span class="just-message-message">{{m.message}}</span>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>	
		<div class="message-main-input">
			<div id="message-main-media">
				<span><i class="fa-regular fa-image fa-lg"></i></span>
				<span><i class="fa-regular fa-face-smile-wink fa-lg"></i></span>
				<span><i class="fa-solid fa-paperclip fa-lg"></i></span>
				<span><i class="fa-solid fa-at fa-lg"></i></span>
				<span><i class="fa-solid fa-microphone fa-lg"></i></span>
				<span class="paper-plane"><i class="fa-regular fa-paper-plane fa-lg"></i></span>
			</div>
			<form id="form-message" method="POST">
				<textarea oninput="adjustWidth(this)" name="text"></textarea>
				<input id="txta-btn" type="submit" style="display: none;"></input>
				<input id="reset" style="display: none; "type="reset" value="Reset"></input>
			</form-->
		</div>

</div>

<div id="card-form">
	<h3>Profile</h3>
	<div id="card-form-detante">
		<div id="card-form-detante-upper">
			<div id="card-form-detante-profile">
				<span class="cfname">{{recipient.username[0:2].upper()}}</span>
			</div>
			<div id="card-user-main">
				<span class="card-user-Name"></span>
				<div class="card-user-contact">
					<button id="card-user-Name">
						<i class="fa-regular fa-message" style="font-size: 16px;"></i>
						<span><a id="message-link" href="">Message</a></span>
					</button>
					<div id="card-user-link-copy">
						<i class="fa-solid fa-link"></i>
					</div>
				</div>
			</div>
		</div>
		<div id="card-form-detante-lower">
			<span style="color: black;">About<div class="span-tapped" id="tapped-about" style="background-color: black;"></div></span>
			<span>Posts<div class="span-tapped" id="tapped-post"></div></span>
			<span>Projects<div class="span-tapped" id="tapped-project"></div></span>
			<span>Comments<div class="span-tapped" id="tapped-comment"></div></span>
			<span>Community<div class="span-tapped" id="tapped-community"></div></span>
		</div>
	</div>
</div>

<script type="text/javascript">

	var socketio = io();
	var recipient_id = '{{recipient.id}}';
	var sender_id = '{{user.id}}'

	function adjustWidth (input) {
					const maxLength = 100;

					if (input.value.length == 0) {
						input.style.height = '0px'
					}
					else if (input.value.length > maxLength){
						input.style.height = (5*2 + "px");
					}
	}


	$(document).ready(function () {

		$(".paper-plane").on('click', function (event) {
			$("#txta-btn").click()
		});

		$("#form-message").on('submit', function (event) {
			event.preventDefault();
			var form_data = new FormData(this);
			form_data.append("recipient_id", recipient_id);
			form_data.append('sender_id', sender_id);
			console.log("{{msession.id}}")
			form_data.append("Msession_id", `{{msession.id}}`)

			$.ajax({
					type: 'POST',
					url: "/echetra/resource/message",
					data: form_data,
					cache: false,
					processData: false,
					contentType: false,
					success: function (data) {
						socketio.emit("message", data);
						$("#reset").click();
					}
				});
		})

		createMessage = function (sender, message) {

			const div = $(`
					<div class="the-message" id="${message.id}">
						<div class="message-sender-profile">
							<div class="message-profile-id"></div>
						</div>
						<div class="message-the-detante">
							<span class="just-message-username">${message.sender_name}<i>${message.created_at}</i></span>
							<span class="just-message-message">${message.message}</span>
						</div>
					</div>
					`);
			$('.message-main-detante').append(div) 
		}

		socketio.on('main_message', function (data) {
			createMessage(data.sender, data.message);
			scrollDown(`#${data.message.id}`);
		});

		scrollDown = function (element) {
			$(".message-main-detante").animate({scrollTop: $(element).offset().top}, 50);
		}

		const getRandomColor = () => {
  				const h = Math.floor(Math.random() * 360);
  				return `hsl(${h}deg, 90%, 85%)`;
		};

		const recipient_color = getRandomColor();
		const sender_color = getRandomColor();

		$(".message-recipient").css('background-color', recipient_color);
		$(".message-sender").css('background-color', sender_color);
		$("#card-form-detante-profile").css('background-color', recipient_color);

		$("#card-form-detante-lower").on('click', 'span', function (event) {
			$('#card-form-detante-lower').find('*').css('color', 'grey');
			$('#card-form-detante-lower').children().children().css('background-color', 'transparent');

			$(this).css("color", 'black');
			$(this).children('div').css('background-color', 'black');

		});

	});
</script>
{% endblock%}
