<!DOCTYPE html>
<html>
	<head>
		<!--link rel="stylesheet" href="../static/styles/header.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../static/styles/body.css?{{cache_id}}"/>
		<link rel="stylesheet" href="../static/styles/div.css?{{cache_id}}"/-->
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/styles/login.css?{{cache_id}}"></link>
		<script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
		<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
		<script src="../static/scripts/s-login.js?{{cache_id}}"></script>

	</head>
	<body >
		<div id="lgn-wrapper">
			<div id="lw-upper">
				<div id="e-logo">
				</div>
				<a id="e-prod">Products</a>
				<a id="e-res">Resources</a>
				<a id="e-com">Community</a>
				<a id="e-hiw">How it works</a>
				<a id="e-price">Pricing</a>
				<div class="e-lgin">Log In</div>
				<div class="e-getS">Get Started</div>
			</div>
			<div id="ldescript">
				<p>Echetra, a place to find partners, &emsp;study and create G projects</p>
			</div>
			<span id="wfounded">&#10003;&emsp;Web-Based&emsp;&#10003;&emsp;Real-time&emsp;&#10003;&emsp;Collaborative </span>
			<form id="lgn-cf" style="display: none;" method="GET" action="/echetra/login">
				<button id="lgn-cf-btn" type="submit"></button>
			</form>
		</div>
		<script>

			$(document).ready(function () {
				$(".e-lgin").click(function () {
					$("#lgn-cf-btn").click();
				});
			});

		</script>
		<!--header style="display: block;"class="top">
			<div class="title">
				<p style="color: white;">Echetra for Engineers</p>
			</div>
			<div class="login">
				<p>login</p>
			</div>
			<div class="signUp">
				<p>sign up<p>
			</div>
		</header>

		<div class="f-login">
			<div class="header"> 
				<h1>login</h1>
			</div>
			<div class="main">

				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="notification">
					<p>{{ messages[0] }}!!!</p>
				</div>
				{% endif %}
				{% endwith %}
			<form method="POST" action="/echetra/loginauth">
				<span>
					<i class="fa fa-user"></i>
					<input type="text" placeholder="Username" name="username">
				</span><br>
				<span>
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="password" name="passwd">
				</span><br>
				<button type="submit" class="btn">login</button>
			</form>
			</div>
		</div-->

	</body>
</html>
