<html>
	<head>
		<script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
		<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
		<link rel="stylesheet" href="../static/styles/login.css?{{cache_id}}"></link>		
	</head>
	<body>
			<div id="lil-wrapper">
				<div id="lil-logo">
				</div>
				<span style="font-size: 26px;font-family: sans-serif;color: white; margin-top: 10px;">Welcome to Echetra</span>
				<span style="font-size: 12px;font-family: sans-serif;color: white;margin-top: 5px;">Log In or Register with your email</span>
				<div id="lil-con-google"><i class="fa-brands fa-google fa-xl"></i>Continue with Google</div>
				<hr class="lil-line"></hr>
				<form id="emailsign-f" method="POST" action="/echetra/signin/code?{{cache_id}}">
					<input id="lil-email" type="email" placeholder="Email" name="email"></input>
					<div id="lil-continue">Continue</div>
					<input id="lil-submit" style="display: none;" type="submit"></input>
				</form>
			</div>
			<script type="text/javascript">
				$(document).ready(function () {

					$("#lil-continue").click(function () {
						$("#lil-submit").click()
					});
				});
			</script>		
	</body>
</html>