{% extends 'base_community2.html' %} {% block content %}
<link rel="stylesheet" href="../../../static/styles/message.css">
<div class="upper-message">
	<div id="upper-message-create">
		<i class="fa-solid fa-plus"></i>
	</div>
</div>
<div class="lower-message">
	<div id="create-dm-div">
		<span>Start a Conversation</span>
		<button id="create-dm">Create DM</button>
	</div>
</div>
<div id="message-friends-pop-up">
	<span class="message-friends-pop-up-title"><h3>Select Friends to DM</h3><i class="fa-solid fa-x" style="color: black;"></i></span>
	<div class="message-friends">
		{% for f in friends %}
			<a href="/Echetra/community/message/{{f.id}}"><div class="friend">
				<div class="friend-profile"></div>
				<span>{{f.username}}</span>
			</div></a>
		{% endfor %}
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {

		const getRandomColor = () => {
  				const h = Math.floor(Math.random() * 360);
  				return `hsl(${h}deg, 90%, 85%)`;
			}

		$(".friend-profile").css("background-color", getRandomColor());

		$(".fa-x").click(function () {
			$("#message-friends-pop-up").hide();
		});

		$("#upper-message-create").click(function () {
			$("#message-friends-pop-up").css("display", "flex")
		});

		$("#create-dm").click(function () {
			$("#message-friends-pop-up").css("display", "flex")
		});
	});
</script>
{% endblock %}
