<!DOCTYPE html>
<html>
        <head>
                <link href="./pstatic/styles/layout.css" rel="stylesheet"/>
                <link href="./pstatic/styles/header.css" rel="stylesheet"/>
                <script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
                <script src="./pstatic/scripts/events.js"></script>

        </head>
        <body>
                <div class="mainwrapper">
                        <div class="Snavigation">
                        </div>

                        <div class="main">
                                <header class="Tnavigation">
                                        <div id="Tlogo">
                                        </div>
                                        <div id="Tdetal">
                                                <div class="pname">
                                                <div>
                                                <div class="headers">
                                                        <div id="Hboard">
                                                                <div id="Bidentifier">Board</div>
                                                        </div>
                                                        <div id="Htasks">
                                                                <div id="Tidentifier">Tasks</div>
                                                        </div>
							<div id="HTodo">                                                                                                                <div id="TDidentifier">To do</div>
                                                        </div>
                                                        <div id="Hgantt">
                                                                <div id="Gidentifier">GANTT</div>
                                                        </div>
                                                        <div id="Hcalender">
                                                                <div class="tooltip" id="Cidentifier">Calender</div>
                                                        </div>
                                                </div>
                                        </div>
                                </header>

                </div>
        </body>
</html>
