.Mboard {
	position: absolute;
	top: 50px;
	border-top: 0.5px solid #666699;
	width: 100%;
	height: 100vh;
	background-color: #000036;
}

.MTasks {
	position: absolute;
        top: 50px;
        border-top: 0.5px solid #666699;
	display: None;
	width: 100%;
	height: 100vh;
	background-color: #000036;
}


.MTodo {
	position: absolute;
        top: 50px;
        border-top: 0.5px solid #666699;
	display: None;
	width: 100%;
	height: 100vh;
	background-color: #000036;
}


.Mgantt {
	position: absolute;
        top: 50px;
        border-top: 0.5px solid #666699;
	display: None;
        width: 100%;
        height: 100vh;
	background-color: #000036;
}


.Mcalender {
	position: absolute;
        top: 50px;
        border-top: 0.5px solid #666699;
	display: None;
        width: 100%;
        height: 100vh;
	background-color: #000036;
}
