.fsignup {
	width: 380px;
	margin: auto;
	border-radius: 25px;
	height: 450px;
	background: #746cc0;
	color: #fff;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}


.header {
	text-align: center;
	padding-top: 10px;
}

.header h1 {
	color: #333;
	font-size:35px;
	margin-bottom: 60px;
}
.main {
	text-align: center;
}

.main input, button {
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding-left: 40px;
	font-size: 15px;
	color: #333;
	margin-bottom: 30px;
}

.main button {
	padding-left: 0;
	background-color: ;
	letter-spacing: 1px;
	font-weight: bold;
}

.main button:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #7799d4;
}

.main input:hover {
        box-shadow: 2px 2px 5px #555;
        background-color: #ddd;
}

.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}
